
<div class="container">
 <div style="float: left;">
 	<img id="loading" src=<%= image_path "new.png" %> height="50px" > 
 </div>
 <div style="float:left"><h1>New Blog</h1> </div>

<%= render 'form', blog: @blog %>


