<br>
  <div class="container">
  <div class="card" >
   <CENTER> <h1 class="card-title"><%= @blog.Title %></h1></CENTER>	
  <center><img src=<%= @blog.image %> alt="Third slide" style="max-height:450px;max-width: 50rem;"></center>
  <div class="card-body">
    
    <p class="card-text"> <%= @blog.Discription.html_safe %></p>
  </div>
</div>
</div>